<form [formGroup]="form" (ngSubmit)="submit()">
  <div>
    <label
      >Id
      <input formControlName="id" readonly />
    </label>
  </div>
  <div>
    <label
      >Title
      <input formControlName="title" />
    </label>
    <h5 *ngIf="form.get('title')?.errors?.['required']">Obbligatorio</h5>
    <h5 *ngIf="form.get('title')?.errors?.['notContainsAsterisks']">
      Contiene asterischi
    </h5>
    <h5 *ngIf="form.get('title')?.errors?.['minlength']">
      La stringa deve essere lunga
      {{ form.get('title')?.errors?.['minlength'].requiredLength }} ma
      attualmente è lunga
      {{ form.get('title')?.errors?.['minlength'].actualLength }}
    </h5>
  </div>
  <div>
    <label
      >Body
      <input formControlName="body" />
    </label>
  </div>
  <div>
    <label
      >User Id
      <select formControlName="userId">
        <option value="" disabled>--Nessun valore--</option>
        <option [value]="user.id" *ngFor="let user of users$ | async">
          {{ user.name }} - ({{ user.phone }})
        </option>
      </select>
    </label>
    <h5 *ngIf="form.get('userId')?.errors?.['required']">Obbligatorio</h5>
  </div>
  <button type="submit">Ok, salva</button>
</form>
